:root {
  --color-text-primary: #ffffff;
  --color-text-seconday: #989898;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;
  margin: 0;
  padding: 0;

  font-family: "Poppins", sans-serif;

  background-color: #1f1f1f;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  justify-content: flex-end;

  list-style: none;
}

.nav-link {
  display: block;

  padding: 10px 20px;
  line-height: 30px;

  color: var(--color-text-primary);

  text-decoration: none;
}

.nav-link::after {
  content: "";

  display: block;

  height: 1px;
  width: 0;

  background-color: var(--color-text-primary);

  transition: 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}
